body,h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
body,p,a,span{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.grybg{
	background: #F9FAFB;
}
/* Began costom css */
.main-header .container-fluid .slider-section .container-fluid{
    max-width: 1480px;
}
/* Manu */
ul.our-primary-manu{}
ul.our-primary-manu li{}
ul.our-primary-manu li a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	color: #111;
    font-weight: 700;
    transition: 0.5s;
}
ul.our-primary-manu li a:hover{
    color: #E83B3E;
}
/* ul.our-primary-manu li a i{
    margin-left: 3px;
    color: #666464;
} */
/* Dropdown */
ul.our-primary-manu li{
    position: relative;
}
ul.our-primary-manu li ul {
	position: absolute;
	width: 250px;
	top: 140%;
	left: 0;
	background: #fafafa;
	padding: 10px;
    list-style: none;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
ul.our-primary-manu li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 125%;
}
ul.our-primary-manu li ul li{
    flex-direction: column;
}
ul.our-primary-manu li ul li a{}
ul.our-primary-manu li a:hover{}
.header-info{}
.header-serch {
	width: 60px;
	text-align: center;
	font-size: 20px;
	margin-right: 15px;
	border-right: 1px solid #ddd;
}
.header-serch span{}
.header-call{
    width: 220px;
}
.header-call-icon {
	font-size: 30px;
	color: #E83B3E;
}
.header-call-info{}
.header-call-info span{
    color: #606060;
}
.header-call-info a {
	text-decoration: none;
	color: #111;
	font-weight: bold;
}
.header-button{}
body .btn-primary {
	padding: 10px 40px;
	background: #E73C3E !important;
	border-color: #E73C3E !important;
    font-size: 18px;
    position: relative;
    z-index: 1;
 
}
body .btn-primary::after{
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111 !important;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}
body .btn-primary:hover{
    border-color: #111 !important;
}
body .btn-primary:hover::after{
    width: 100%;
}
/* Slider Section Css */
.slider-section{
    background: url(https://i.ibb.co/PDKNzDK/main-banner2.jpg) no-repeat center center;
    background-size: cover;
	background-attachment: fixed;
}
.slider-content-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}
.slider-content{}
.slider-content h6 {
	color: #E83B3E;
}
.slider-content h1 {
	font-size: 50px;
	margin: 20px 0px;
}
.slider-content p {
	color: #606060;
	font-size: 16px;
	font-weight: 400;
    margin-bottom: 20px;
}
.slider-socal{
    position: absolute;
    bottom: 0;
    left: 0;
}
.slider-socal ul{
    list-style: none;
}
.slider-socal ul li{}
ul.our-primary-manu li a span {
	margin-left: 5px;
}
ul.our-primary-manu li a:hover span{
	color: #E83B3E;
}
.slider-socal ul li span::after {
	content: "";
	width: 25px;
	height: 1px;
	display: inline-block;
	background: #111;
	margin-left: 10px;
}
.slider-socal ul li a {
	text-decoration: none;
	display: inline-block;
	padding: 0px 10px;
	color: #111;
    transition: 0.5s;
}
.slider-socal ul li a:hover{
    color: #E83B3E;
}
/* Client logo Section */
.logo-section{
    border-bottom: 1px solid #ddd;
}
.client-logo{}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}
.client-logo ul li{}
/* About Section */
.about-img{
    position: relative;
}
.about-img-text {
	position: absolute;
	right: 0px;
	bottom: 0;
	height: 200px;
	width: 210px;
	background: url(https://templates.envytheme.com/finix/default/assets/img/about/shape.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.about-img-text-inner h2 {
	color: #E83B3E;
	font-size: 70px;
}
.finix-text h6 {
	color: #e63b3d;
	font-weight: 400;
}
.finix-text h2 {
	font-size: 42px;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 20px;
}
.finix-text p {
	color: #606060;
	font-size: 18px;
}
.finix-text strong {
	color: #606060;
	font-weight: 400;
	font-size: 20px;
}
.finix-text ul {
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
}
.finix-text ul li {
	padding: 5px 0;
}
.finix-text ul li::before {
	content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	color: #e63b3d;
	display: inline-block;
	margin-right: 10px;
}



.features-item {
	background: #fff;
	padding: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	transition: .5s;
}
.features-item:hover {
	transform: translateY(-12px);
}
.features-item::before {
	content: "";
	position: absolute;
	top: -135px;
	right: 0;
	left: 0;
	margin: auto;
	width: 90%;
	height: 70%;
	background: #fdebeb;
	border-radius: 50%;
}
.features-item .ft-icon {
	position: relative;
	z-index: 1;
}
.features-item .ft-icon i {
	color: #e73c3e;
	font-size: 32px;
	background: #fff;
	height: 90px;
	width: 90px;
	line-height: 90px;
	border-radius: 50%;
	transition: .5s;
}
.features-item:hover .ft-icon i {
	color: #fff;
	background: #e73c3e;
}
.finix-text{
	position: relative;
}
.paly-animation-btn {
	width: 90px;
	height: 90px;
	display: inline-block;
	background: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	color: #e73a3e;
	border-radius: 50%;
	position: absolute;
	right: 41%;
	bottom: 51px;
}
.paly-animation-btn:hover {
	color: #E83B3E;
}
.paly-animation-btn::before {
	content: "";
	width: 90px;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	background: #e73a3e;
	border-radius: 50%;
	animation: playbtn 1.6s ease-out infinite;
}
@keyframes playbtn{
	0%,30%{
		transform: scale(0);
		opacity: 1;
	}
	50%{
		transform: scale(1.5);
		opacity: .7;
	}
	100%{
		transform: scale(2);
		opacity: 0;
	}
}

.applay-now-text {
	margin-top: -5px;
}
.applay-now-text h2 {
	font-size: 34px;
}
.stap-timeline{}
.stap-timeline ul {
	list-style: none;
	position: relative;
	margin-bottom: 35px;
}
.stap-timeline ul::before {
	content: "";
	position: absolute;
	top: 0;
	left: 2px;
	width: 1px;
	height: calc(104% - 100px);
	background: #E83B3E;
}
.stap-timeline ul li{
	position: relative;
}
.stap-timeline ul li::before {
	content: attr(data-counter);
	position: absolute;
	left: -45px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: #F9FAFB;
	border: 1px solid #E83B3E;
	text-align: center;
	border-radius: 50%;
}
.stap-timeline ul li h4 {
	color: #111;
	margin-bottom: 15px;
}
.stap-timeline ul li p{
	color: #606060;
}
.calcute-rate .finix-text h6{
	color: #606060;
}
.calcute-rate .finix-text h2 {
	color: #111;
	font-size: 38px;
}
.calcute-rate{
	background: #FDEBEB;
}
.calcute-form .form-group label {
	margin-bottom: 6px;
}
.calcute-form .form-group input {
	margin-bottom: 15px;
}
.calcute-form .form-group input{}
.coll-to-action-bg {
	background: #E83B3E;
	color: #fff;
	padding-top: 60px;
	padding-bottom: 65px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 5px;
}
.coll-to-action-bg h2 {
	font-size: 33px;
	font-weight: 400;
	border-right: 1px solid #f39e9f;
	margin-right: -10px;
}
.call-to-action-phone {
	margin-top: 15px;
}
.call-to-action-phone span {
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #fff;
	color: #E83B3E;
	text-align: center;
	border-radius: 50%;
	font-size: 30px;
	margin-right: 20px;
	display: inline-block;
}
.call-to-action-phone a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 35px;
}
.company-values-text {
	margin-top: 10px;
}
.values-item .values-icon i {
	font-size: 40px;
	color: #E83B3E;
	margin-right: 20px;
	width: 50px;
}
.values-item .values-text{}
.values-item .values-text h3 {
	font-size: 20px;
	margin-bottom: 10px;
}
.values-item .values-text p {
	color: #606060;
	font-size: 16px;
	line-height: 27px;
}
.our-coumpony-img {
	text-align: right;
	margin-top: 20px;
}


.services-tab{}
.services-tab .nav-pills{
	border-bottom: 1px solid #606060;
}
.services-tab .nav-pills .active{
	background: none;
	position: relative;
	color: #E73C3E;
}
.services-tab .nav-pills .active::after{
	content: "";
	position: absolute;
	border-bottom: 1px solid #E73C3E;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
}
.services-tab .nav-pills .active:hover span i{
	color: red;
}
.services-tab .nav-pills .services-tab-itam {
	text-decoration: none;
	display: inline-block;
	flex: 1 1 auto;
	text-align: center;
}
.services-tab .nav-pills .services-tab-itam span{
	display: block;
}
.services-tab .nav-pills .services-tab-itam span i {
	width: 50px;
	color: #606060;
	font-size: 30px;
	background: #fff;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	box-shadow: 0 2px 28px 0 rgba(0,0,0,.09);
}
.services-tab .nav-pills .services-tab-itam strong {
	display: block;
	color: #111;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
}
.services-content{margin-top: 31px;}
.services-tab-content{}
.services-tab-content h3{
	color: #111;
	margin-bottom: 20px;
}
.services-tab-content p{
	color: #606060;
}
.services-tab-content ul{
	list-style: none;
	padding: 0;
}
.services-tab-content ul li{
	position: relative;
	margin-left: 28px;
}
.services-tab-content ul li::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #E73C3E;
	left: -20px;
	top: 6px;
	bottom: 0;
	border-radius: 50%;
}

.tesntimonail-content{}
.tesntimonail-content span {
	color: #606060;
}
.tesntimonail-content p {
	font-size: 24px;
	color: #111;
}
.tesntimonail-content h3 {
	color: #E83B3E;
	font-size: 20px;
	margin-top: 20px;
}
.teim-member{}
.member-img {
	position: relative;
}
.member-socal-contact {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.member-socal-contact ul {
	list-style: none;
	padding-left: 0;
	text-align: center;
	margin-bottom: 25px;
}
.member-socal-contact ul li {
	display: inline-block;
	transform: translateY(45px);
	transition: 0.5s ease-in-out;
	visibility: hidden;
	opacity: 0;
}
.member-img:hover .member-socal-contact ul li{
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.member-img .member-socal-contact ul li:nth-child(1){
	transition-delay: 0.2s;
}
.member-img .member-socal-contact ul li:nth-child(2){
	transition-delay: 0.3s;
}
.member-img .member-socal-contact ul li:nth-child(3){
	transition-delay: 0.4s;
}
.member-img .member-socal-contact ul li:nth-child(4){
	transition-delay: 0.5s;
}
.member-socal-contact ul li a {
	display: block;
	font-size: 15px;
	color: #111;
	background: #f4f5fe;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	transition: 0.5s;
}
.member-socal-contact ul li a:hover{
	background: #E73C3E;
	color: #fff;
}
.mamber-contact {
	margin-top: 25px;
}
.mamber-contact h4 {
	font-size: 20px;
	color: #E83B3E;
}
.mamber-contact p {
	color: #111;
	font-size: 15px;
}
.bloag-item{
	
}
.bloag-img{}
.bloag-img img{}
.bloag-content {
	margin-top: 8px;
}
.bloag-content span {
	color: #E83B3E;
}
.bloag-content h3 a {
	color: #111;
	transition: 0.5s;
	letter-spacing: 1px;
}
.bloag-content h3:hover a {
	color: #e73a3e !important;
}
.bloag-item:hover .bloag-content h3 a {
	color: #111;
	letter-spacing: 1px !important;
}
.bloag-content a {
	text-decoration: none;
	color: #111;
	font-weight: 600;
	transition: 0.5s;
	letter-spacing: 1px;
	
}
.bloag-item:hover .bloag-content a{
	letter-spacing: 1.5px;
	color: #e73a3e;
}
.footer-section{
	background: #111;
	color: #fff;
}
.footer-widget{}
.footer-top {
	border-bottom: 1px solid #3e3a3a;
}
.footer-logo {
	margin-bottom: 20px;
}
.footer-widget p {
	line-height: 30px;
	margin-bottom: 20px;
}
.social{
	padding-left: 0px;
	display: flex;
}
.footer-widget .social li{
	display: inline-block;
}
.footer-widget .social li span {
	margin-right: 10px;
	font-weight: 800;
}
.footer-widget .social li a {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 0 6px;
	font-size: 18px;
	transition: 0.5s;
}
.footer-widget .social li a:hover{
	color: #e73a3e;
}
.footer-widget .social li a i{}
.footer-widget h4 {
	border-bottom: 1px solid #4a4a4a;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.quick-links{}
.quick-links ul{}
.quick-links ul li {
	display: block;
	margin-bottom: 20px;
}
.quick-links ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	transition: 0.5s;
	letter-spacing: 1px;
}
.quick-links ul li a:hover{
	color: #e73a3e;
	letter-spacing: 1.5px;
}
.info-contact{
	display: flex;
}
.info-contact i {
	font-size: 20px;
	margin-right: 20px;
}
.info-contact span {
	display: block;
	margin-bottom: 20px;
}
.info-contact span a {
	text-decoration: none !important;
	color: #fff;
	letter-spacing: 1px;
	transition: 0.5s;
}
.info-contact span a:hover{
	color: #e73a3e;
	letter-spacing: 1.5px;
}
.footer-buttom {
	padding-top: 44px;
	margin-top: 10px;
}
.footer-buttom span{}
.footer-buttom span a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	transition: 0.5s;
}
.footer-buttom span a:hover{
	color: #e73a3e;
}